{% extends "base.html" %}


{% block content %}

<div class="page-header">

    <div>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
    </div>

    {% if has_permission(current_user, PERMISSION_ASSET_CREATE) %}
    <a
        class="btn"
        href="/assets/new"
    >
        + Add Asset
    </a>
    {% endif %}

</div>


<div class="table-card">

    <div class="table-header">

        <div>
            {{ title }}
        </div>

        <div class="result-count">
            {{ assets | length }}

            {% if assets | length == 1 %}
                asset
            {% else %}
                assets
            {% endif %}
        </div>

    </div>

    <table>

        <thead>
        <tr>
            <th>Hostname</th>
            <th>Type</th>
            <th>IP Address</th>
            <th>Vendor</th>
            <th>Environment</th>
            <th>Status</th>
            <th>Location</th>
        </tr>
        </thead>

        <tbody>

        {% if assets %}

            {% for asset in assets %}
            <tr>

                <td>
                    <a
                        href="/assets/{{ asset.id }}"
                        class="asset-link"
                    >
                        <strong>
                            {{ asset.hostname }}
                        </strong>
                    </a>
                </td>

                <td>
                    {{ asset.asset_type }}
                </td>

                <td>
                    {{ asset.ip_address }}
                </td>

                <td>
                    {{ asset.vendor or "-" }}
                </td>

                <td>
                    <span class="badge">
                        {{ asset.environment }}
                    </span>
                </td>

                <td>
                    {{ asset.status }}
                </td>

                <td>
                    {{ asset.location or "-" }}
                </td>

            </tr>
            {% endfor %}

        {% else %}

            <tr>
                <td
                    colspan="7"
                    class="empty-state"
                >
                    No {{ title | lower }} assets available.
                </td>
            </tr>

        {% endif %}

        </tbody>

    </table>

</div>

{% endblock %}
